### 2.1 Import Data and Required Packages
####  Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#### Import the CSV Data as Pandas DataFrame

In [6]:
df = pd.read_csv('data/raw_data.csv')

#### Show Top 5 Records

In [4]:
df.head()

,id,gender,customer_type,age,type_of_travel,Class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,...,inflight_entertainment,on_board_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

#### Shape of the dataset

In [6]:
df.shape

(103904, 24)

### 2.2 Dataset information

- id : unique for each passenger
- gender : sex of passenger  -> (Male/female)
- customer_type : loyality of passenger -> (Loyal Disloyal)
- age : Age of the passenger
- type_of_travel : (Personal/Business)
- Class : (Eco, Eco Plus, Business)
- flight_distance
- inflight_wifi_service : rating from 0 to 5
- departure_arrival_time_convenient : rating from 0 to 5
- ease_of_online_booking : rating from 0 to 5
- gate_location : rating from 0 to 5
- food_and_drink : rating from 0 to 5
- online_boarding : rating from 0 to 5
- seat_comfort : rating from 0 to 5
- inflight_entertainment : rating from 0 to 5
- on_board_service : rating from 0 to 5
- leg_room_service : rating from 0 to 5
- baggage_handling : rating from 0 to 5
- checkin_service : rating from 0 to 5
- inflight_service : rating from 0 to 5
- cleanliness : rating from 0 to 5
- departure_delay_in_minutes
- arrival_delay_in_minutes
- satisfaction : satisfied or neutral/dissatisfied

### 3. Data Checks to perform

- Check Missing values
- Check Duplicates
- Check data type
- Check the number of unique values of each column
- Check statistics of data set
- Check various categories present in the different categorical column

In [13]:
df.isna().sum()

id                                     0
gender                                 0
customer_type                          0
age                                    0
type_of_travel                         0
Class                                  0
flight_distance                        0
inflight_wifi_service                  0
departure_arrival_time_convenient      0
ease_of_online_booking                 0
gate_location                          0
food_and_drink                         0
online_boarding                        0
seat_comfort                           0
inflight_entertainment                 0
on_board_service                       0
leg_room_service                       0
baggage_handling                       0
checkin_service                        0
inflight_service                       0
cleanliness                            0
departure_delay_in_minutes             0
arrival_delay_in_minutes             310
satisfaction                           0
dtype: int64

#### There are 310 missing values in 'arrival_delay_in_minutes' column of the data set

### 3.2 Check Duplicates

In [14]:
df.duplicated().sum()

0

#### There are no duplicates  values in the data set

### 3.3 Check data types

In [15]:
# Check Null and Dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 103904 non-null  int64
 1   gender                             103904 non-null  object
 2   customer_type                      103904 non-null  object
 3   age                                103904 non-null  int64
 4   type_of_travel                     103904 non-null  object
 5   Class                              103904 non-null  object
 6   flight_distance                    103904 non-null  int64
 7   inflight_wifi_service              103904 non-null  int64
 8   departure_arrival_time_convenient  103904 non-null  int64
 9   ease_of_online_booking             103904 non-null  int64
 10  gate_location                      103904 non-null  int64
 11  food_and_drink                     103904 non-null  int64
 12  online_boarding                    103904 non-null  int64
 13  seat_comfort                       103904 non-null  int64
 14  inflight_entertainment             103904 non-null  int64
 15  on_board_service                   103904 non-null  int64
 16  leg_room_service                   103904 non-null  int64
 17  baggage_handling                   103904 non-null  int64
 18  checkin_service                    103904 non-null  int64
 19  inflight_service                   103904 non-null  int64
 20  cleanliness                        103904 non-null  int64
 21  departure_delay_in_minutes         103904 non-null  int64
 22  arrival_delay_in_minutes           103594 non-null  float64
 23  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 19.0+ MB

### 3.4 Checking the number of unique values of each column

In [16]:
df.nunique()

id                                   103904
gender                                    2
customer_type                             2
age                                      75
type_of_travel                            2
Class                                     3
flight_distance                        3802
inflight_wifi_service                     6
departure_arrival_time_convenient         6
ease_of_online_booking                    6
gate_location                             6
food_and_drink                            6
online_boarding                           6
seat_comfort                              6
inflight_entertainment                    6
on_board_service                          6
leg_room_service                          6
baggage_handling                          5
checkin_service                           6
inflight_service                          6
cleanliness                               6
departure_delay_in_minutes              446
arrival_delay_in_minutes                455
satisfaction                              2
dtype: int64

### 3.5 Check statistics of data set

In [17]:
df.describe()

,id,age,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,on_board_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes
count,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103904.000000,103594.000000
mean,64924.210502,39.379706,1189.448375,2.729683,3.060296,2.756901,2.976883,3.202129,3.250375,3.439396,3.358158,3.382363,3.351055,3.631833,3.304290,3.640428,3.286351,14.815618,15.178678
std,37463.812252,15.114964,997.147281,1.327829,1.525075,1.398929,1.277621,1.329533,1.349509,1.319088,1.332991,1.288354,1.315605,1.180903,1.265396,1.175663,1.312273,38.230901,38.698682
min,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32533.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64856.500000,40.000000,843.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97368.250000,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

#### Insight
- Average age of the passenger is 39.
- Min age of the Passenger is 7.
- Max age of the Passenger is 85.
- Services with Highest Mean : inflight_service (3.640428)
- Services with lowest Mean : inflight_wifi_service (2.729683)

### 3.7 Exploring Data

In [18]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values for column '{column}':")
    print(unique_values)
    print()

Unique values for column 'id':
[ 70172   5047 110028 ...  68825  54173  62567]

Unique values for column 'gender':
['Male' 'Female']

Unique values for column 'customer_type':
['Loyal Customer' 'disloyal Customer']

Unique values for column 'age':
[13 25 26 61 47 52 41 20 24 12 53 33 45 38  9 17 43 58 23 57 49 36 22 31
 15 35 67 37 40 34 39 50 29 54 21 28 27 69 60 48 59 46 30 66 64 44 51 32
 19 42 16 11 62  8 56 68 55 18 65 72 70 63 10  7 14 80 74 71 85 73 76 77
 75 79 78]

Unique values for column 'type_of_travel':
['Personal Travel' 'Business travel']

Unique values for column 'Class':
['Eco Plus' 'Business' 'Eco']

Unique values for column 'flight_distance':
[ 460  235 1142 ...  974 1479  400]

Unique values for column 'inflight_wifi_service':
[3 2 4 1 5 0]

Unique values for column 'departure_arrival_time_convenient':
[4 2 5 3 1 0]

Unique values for column 'ease_of_online_booking':
[3 2 5 4 1 0]

Unique values for column 'gate_location':
[1 3 2 5 4 0]

Unique values for column 'food_and_drink':
[5 1 2 4 3 0]

Unique values for column 'online_boarding':
[3 5 2 1 4 0]

Unique values for column 'seat_comfort':
[5 1 2 3 4 0]

Unique values for column 'inflight_entertainment':
[5 1 2 3 4 0]

Unique values for column 'on_board_service':
[4 1 2 3 5 0]

Unique values for column 'leg_room_service':
[3 5 4 2 1 0]

Unique values for column 'baggage_handling':
[4 3 5 1 2]

Unique values for column 'checkin_service':
[4 1 3 5 2 0]

Unique values for column 'inflight_service':
[5 4 3 1 2 0]

Unique values for column 'cleanliness':
[5 1 2 3 4 0]

Unique values for column 'departure_delay_in_minutes':
[  25    1    0   11    9    4   28   43   49    7   17   52   54   27
   18   19    3  109   23    8   14   10   51   39   13   30   64   20
   45   44   31   81   35   67   22   40   91   21   15   29  105   12
  162   24  141    6   34    2   97   16   99   37   66   53   36  209
   60  149   26    5   59   62  113   38   83  176   46   73  199   56
   93   70   80   96   57   95   74  172   63  175  143   48   47  101
  118   76  220   33   55  232  170  173  124  112   94  243  128   92
  270   90  110   50  144   71  315  158   88   65  111   32  156   41
  154  150  228   72  137  126  161   42  174  103  313  136  160  412
   69  185  114  135  142  147   85  235  125  391   84  138  102  196
  140   77  187  131   82  100   86  165   87  129  204  435  166  177
  123  139  116  108  167  285   61  117  106  190  168  211   89  324
   75  202  290  189  203  120  157  119   68  299  292   78  258  104
  121   58  222  317  320  200  134  248   79  240  169   98  249  145
  238  246  132  107  127  180  151  480  241  130  268  115  133  171
  164  330  438  472  163  122  326  186  155  223  332  447 1305  208
  201  233  210  182  221  159  188  184  224  178  266  191  219  652
  148  226  236  153  276  212  152  198  245  726  302  283  505  242
  215  394  206  311  293  566  225  146  218  227  252  291  193  323
  281  287  339  183  259  192  319  207  195  179  194  537  181  257
  213  300  295  262  312  383  392  294  250  419  216  308  423  346
  272  197  205  303  251  344  333  355  454  459  269  254  231  253
  265  301  263  381  214  310  244  239  255  328  348  278  859  692
  321  465  426  340  274  267  519  286  414  559  382  237  260  401
  247  376  288  271  450  230  217  279  264  448  398  750  365  316
  351  327  341  306  353  358  514  334  277  275  352  371  437  229
  600  296  460  338  307  234  289  452  318  256  368  626  729  362
  360  853  446  399  396  463  364  342  372  298  273  427  429  373
  420  579  930 1017  921  370  378  595  491  469  345  410  610  388
  748  336  433  455  347  444  282  978  322  496  389  359  415  329
  933  402  331  280  407 1592  501  384  377  503  400  430  570  357
  350  297  309  531  304  363  411  390  314  343  724  337]

Unique values for column 'arrival_delay_in_minutes':
[1.800e+01 6.000e+00 0.000e+00 9.000e+00 2.300e+01 8.000e+00 3.500e+01
 5.100e+01 1.000e+01 5.000e+00 4.000e+00 2.900e+01 4.400e+01 2.800e+01
 1.200e+01 1.200e+02 2.400e+01 1.000e+00 2.000e+01 3.100e+01 1.500e+01
 4.800e+01 2.600e+01 4.900e+01 2.000e+00 3.700e+01 5.000e+01 3.000e+00
 1.900e+01 7.200e+01 1.100e+01 3.400e+01 6.200e+01 2.700e+01 5.200e+01
 1.300e+01 8.200e+01 3.000e+01 1.600e+01 7.000e+00 1.220e+02 1.790e+02
 1.250e+02 1.700e+01       nan 8.900e+01 1.010e+02 1.400e+01 6.100e+01
 3.200e+01 3.300e+01 4.100e+01 1.910e+02 1.380e+02 5.300e+01 2.200e+01
 5.700e+01 6.500e+01 7.600e+01 1.070e+02 9.200e+01 1.640e+02 2.100e+01
 4.000e+01 5.500e+01 1.850e+02 6.300e+01 7.700e+01 8.600e+01 9.100e+01
 1.000e+02 5.400e+01 3.600e+01 7.000e+01 1.390e+02 6.700e+01 1.630e+02
 1.280e+02 1.800e+02 9.300e+01 1.210e+02 4.500e+01 1.050e+02 1.260e+02
 5.600e+01 7.300e+01 2.120e+02 8.800e+01 2.410e+02 1.720e+02 1.750e+02
 1.110e+02 9.900e+01 2.500e+01 4.200e+01 2.260e+02 4.600e+01 1.310e+02
 2.600e+02 6.900e+01 1.420e+02 5.800e+01 7.500e+01 3.800e+01 6.600e+01
 3.900e+01 1.030e+02 3.070e+02 1.560e+02 7.400e+01 1.090e+02 1.550e+02
 6.000e+01 1.540e+02 4.300e+01 1.470e+02 2.170e+02 1.240e+02 4.700e+01
 1.500e+02 1.160e+02 1.710e+02 8.400e+01 1.230e+02 1.650e+02 9.400e+01
 8.300e+01 3.360e+02 5.900e+01 2.190e+02 8.700e+01 4.590e+02 6.800e+01
 1.040e+02 1.330e+02 1.340e+02 8.100e+01 2.590e+02 8.000e+01 7.900e+01
 2.220e+02 2.030e+02 3.540e+02 2.140e+02 7.800e+01 9.500e+01 7.100e+01
 1.100e+02 8.500e+01 1.460e+02 1.960e+02 9.800e+01 4.700e+02 2.640e+02
 1.490e+02 1.130e+02 1.190e+02 1.060e+02 2.160e+02 1.600e+02 2.850e+02
 1.150e+02 1.860e+02 2.110e+02 3.230e+02 1.760e+02 1.670e+02 2.420e+02
 2.840e+02 2.000e+02 1.450e+02 1.080e+02 1.740e+02 1.320e+02 3.130e+02
 3.310e+02 2.880e+02 1.180e+02 2.250e+02 6.400e+01 3.240e+02 1.900e+02
 1.770e+02 1.360e+02 3.200e+02 2.010e+02 2.710e+02 9.600e+01 1.520e+02
 2.800e+02 1.410e+02 1.570e+02 1.530e+02 1.300e+02 1.400e+02 1.120e+02
 2.570e+02 1.170e+02 2.350e+02 9.000e+01 1.810e+02 1.830e+02 1.270e+02
 4.710e+02 2.270e+02 1.020e+02 1.350e+02 1.290e+02 2.550e+02 1.920e+02
 3.480e+02 4.380e+02 4.460e+02 1.840e+02 1.680e+02 1.660e+02 3.100e+02
 1.730e+02 2.610e+02 1.610e+02 2.360e+02 1.510e+02 1.820e+02 3.210e+02
 2.330e+02 1.370e+02 4.330e+02 1.280e+03 2.180e+02 1.480e+02 1.440e+02
 1.870e+02 2.060e+02 1.700e+02 2.090e+02 1.140e+02 2.240e+02 2.810e+02
 2.230e+02 6.380e+02 2.200e+02 2.340e+02 9.700e+01 2.650e+02 3.880e+02
 2.620e+02 2.210e+02 1.620e+02 2.670e+02 3.740e+02 2.280e+02 2.440e+02
 2.470e+02 6.910e+02 1.430e+02 1.890e+02 1.970e+02 2.040e+02 3.190e+02
 2.730e+02 3.290e+02 1.950e+02 4.860e+02 1.780e+02 2.700e+02 1.580e+02
 1.990e+02 2.130e+02 3.830e+02 3.020e+02 6.000e+02 2.150e+02 1.690e+02
 1.880e+02 2.660e+02 2.920e+02 2.870e+02 2.300e+02 2.390e+02 2.890e+02
 2.980e+02 2.320e+02 3.630e+02 2.050e+02 2.950e+02 2.830e+02 5.240e+02
 3.270e+02 2.460e+02 2.900e+02 3.140e+02 3.160e+02 3.040e+02 2.020e+02
 2.960e+02 2.480e+02 3.860e+02 3.810e+02 1.590e+02 3.220e+02 4.600e+02
 4.180e+02 3.490e+02 2.560e+02 2.490e+02 1.940e+02 3.150e+02 2.080e+02
 1.930e+02 3.710e+02 2.290e+02 3.910e+02 4.540e+02 4.450e+02 2.100e+02
 2.680e+02 2.530e+02 2.450e+02 3.370e+02 2.970e+02 4.360e+02 2.790e+02
 3.000e+02 2.400e+02 2.370e+02 2.070e+02 1.980e+02 4.040e+02 2.430e+02
 3.410e+02 2.780e+02 3.050e+02 8.600e+02 2.580e+02 7.020e+02 3.600e+02
 4.930e+02 4.270e+02 3.350e+02 5.160e+02 2.720e+02 4.100e+02 5.550e+02
 3.920e+02 2.520e+02 3.300e+02 3.820e+02 2.930e+02 2.770e+02 2.310e+02
 2.750e+02 3.620e+02 2.760e+02 7.290e+02 3.570e+02 3.260e+02 2.500e+02
 4.580e+02 3.340e+02 2.910e+02 3.800e+02 3.590e+02 3.460e+02 6.240e+02
 3.770e+02 3.720e+02 4.290e+02 5.890e+02 3.010e+02 5.020e+02 2.990e+02
 4.570e+02 2.380e+02 4.010e+02 4.400e+02 2.860e+02 2.740e+02 3.110e+02
 3.030e+02 6.040e+02 7.170e+02 3.560e+02 4.090e+02 8.230e+02 2.940e+02
 2.510e+02 4.310e+02 4.320e+02 4.030e+02 3.180e+02 5.030e+02 3.380e+02
 3.640e+02 4.070e+02 3.680e+02 3.080e+02 2.540e+02 4.350e+02 2.630e+02
 4.170e+02 3.580e+02 4.160e+02 5.610e+02 3.510e+02 9.520e+02 1.011e+03
 9.240e+02 3.060e+02 4.240e+02 4.850e+02 4.430e+02 3.170e+02 5.180e+02
 3.500e+02 4.440e+02 3.120e+02 3.970e+02 5.930e+02 3.930e+02 7.200e+02
 3.660e+02 4.550e+02 2.690e+02 4.340e+02 9.700e+02 3.470e+02 3.090e+02
 3.780e+02 3.790e+02 3.950e+02 3.700e+02 4.480e+02 9.200e+02 3.890e+02
 3.550e+02 3.420e+02 1.584e+03 5.000e+02 4.020e+02 4.060e+02 4.840e+02
 4.120e+02 5.670e+02 4.200e+02 3.990e+02 3.450e+02 3.530e+02 4.220e+02
 2.820e+02 5.070e+02 4.250e+02 3.390e+02 3.520e+02 3.850e+02 7.050e+02
 3.690e+02]

Unique values for column 'satisfaction':
['neutral or dissatisfied' 'satisfied']

In [20]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 19 numerical features : ['id', 'age', 'flight_distance', 'inflight_wifi_service', 'departure_arrival_time_convenient', 'ease_of_online_booking', 'gate_location', 'food_and_drink', 'online_boarding', 'seat_comfort', 'inflight_entertainment', 'on_board_service', 'leg_room_service', 'baggage_handling', 'checkin_service', 'inflight_service', 'cleanliness', 'departure_delay_in_minutes', 'arrival_delay_in_minutes']

We have 5 categorical features : ['gender', 'customer_type', 'type_of_travel', 'Class', 'satisfaction']

In [23]:
rating_columns=['inflight_wifi_service','departure_arrival_time_convenient','ease_of_online_booking','gate_location','food_and_drink','online_boarding','seat_comfort','inflight_entertainment','on_board_service','leg_room_service','baggage_handling','checkin_service','inflight_service','cleanliness']
for column in rating_columns:
    max_rating = df[df[column] == 5]['id'].count()
    print(f'Number of Passengers rated 5 for {column} : {max_rating}')
print()
for column in rating_columns:
    min_rating = df[df[column] == 0]['id'].count()
    print(f'Number of Passengers rated 0 for {column} : {min_rating}')

Number of Passengers rated 5 for inflight_wifi_service : 11469
Number of Passengers rated 5 for departure_arrival_time_convenient : 22403
Number of Passengers rated 5 for ease_of_online_booking : 13851
Number of Passengers rated 5 for gate_location : 13879
Number of Passengers rated 5 for food_and_drink : 22313
Number of Passengers rated 5 for online_boarding : 20713
Number of Passengers rated 5 for seat_comfort : 26470
Number of Passengers rated 5 for inflight_entertainment : 25213
Number of Passengers rated 5 for on_board_service : 23648
Number of Passengers rated 5 for leg_room_service : 24667
Number of Passengers rated 5 for baggage_handling : 27131
Number of Passengers rated 5 for checkin_service : 20619
Number of Passengers rated 5 for inflight_service : 27116
Number of Passengers rated 5 for cleanliness : 22689

Number of Passengers rated 0 for inflight_wifi_service : 3103
Number of Passengers rated 0 for departure_arrival_time_convenient : 5300
Number of Passengers rated 0 for ease_of_online_booking : 4487
Number of Passengers rated 0 for gate_location : 1
Number of Passengers rated 0 for food_and_drink : 107
Number of Passengers rated 0 for online_boarding : 2428
Number of Passengers rated 0 for seat_comfort : 1
Number of Passengers rated 0 for inflight_entertainment : 14
Number of Passengers rated 0 for on_board_service : 3
Number of Passengers rated 0 for leg_room_service : 472
Number of Passengers rated 0 for baggage_handling : 0
Number of Passengers rated 0 for checkin_service : 1
Number of Passengers rated 0 for inflight_service : 3
Number of Passengers rated 0 for cleanliness : 12

#### Insight
- baggage_handling service has maximun 5 star rating from passengers
- inflight_wifi_service service has minimum 5 star rating from passengers
- departure_arrival_time_convenient service has maximun 0 star rating from passengers
- baggage_handling has No 0 star rating from passengers

### 4. Exploring Data ( Visualization )
#### 4.1 Visualize average score distribution to make some conclusion. 
- Histogram
- Kernel Distribution Function (KDE)

#### 4.1.1 Histogram & KD